{% load static %}
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>JDM-культура</title>
 </head>
   <style>
	body {
		background: LightYellow url('https://imageup.ru/img256/3760514/jdm_culturenew.jpg'); /* Фоновый цвет и фоновый рисунок*/
		color: Black; /*Цвет текста на странице*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-size: 100%;
	}
   </style>

 <body>

<header>
  <p style="color:Black;"><a href="{% url 'home' %}">Домашняя страница</a> | <a href="{% url 'about' %}">О сайте</a> | <a href="{% url 'cars' %}">Модели автомобилей</a>| <a href="{% url 'help' %}">Поддержка авторов</a></p>
</header>

{% block content %}
{% endblock content %}

 </body>