{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Домашняя страница</h1>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table border="0" width="100%">
	<tr>
		<td width="20%">&nbsp;</td>
		<td width="60%" bgcolor="#FFCC66"><b><font face="Comic Sans MS" size="5">Сайт создан большими фанатами и последователями JDM культуры</font></b><p>
<b><font face="Comic Sans MS" size="5">Здесь вы узнаете где и когда зародилось данное движение
</font></b> </p>
<p>
<b><font face="Comic Sans MS" size="5">На этом сайте вы сможете увидеть модели автомобилей японской культуры 80х – 00х
годов</font></b></p>

		<p>&nbsp;</td>
		<td width="20%">&nbsp;</td>
	</tr>
</table>

<div class="card-footer">
	<p><a href="{% url 'comment_new' %}"><button class="btn btn-success ml-2" type="input">Добавить комментарий</button></a></p>
	<h2><b>Комментарии</b></h2>
	{% for comment in all_comments_list.all %}
		<hr>
		<p>{{ comment.text }}</p>
	{% endfor %}
</div>

{% endblock content %}
